%abilities {
  .abilities {
    background-color: #f6f7e9;
    background-image: url('https://res.cloudinary.com/hezzie/image/upload/v1583314741/output-onlinepngtools_ricmka.png');
    background-size: 30% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    height: auto;
    min-height: 110%;
    width: 100%;
    div {
      width: 70%;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .abilitiesHeader {
    }
    .abilityRatings {
      display: flex;
      flex-wrap: wrap;
      div {
        margin: 0px;
        padding: 0px;
        width: 50%;
      }
      .abilityRatingsHeader {
        width: 100%;
      }
      .abilityRatingsFooter {
        width: 100%;
      }
    }
  }
}
