@import 'LandingDiv.scss';
@import 'Profile.scss';
@import 'Experiences.scss';
@import 'Abilities.scss';
@import 'Projects.scss';
@import 'Footer.scss';
button{
  outline:none !important;
}
.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300 ;
  line-height: 1.4;
  animation-name: bounce;
  animation-duration: 1s;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
html{
  margin: 0px;
  width: 100%;
    height: 100%;
}
body {
  margin: 0px;
  width: 100%;
    height: 100%;
  #app {
    width: 98%;
    overflow: hidden;
    margin:auto;
    // height: 100%;
    ._container {
      .sidebar {
        min-height: 40px !important;
        color: #f6f7e9;
        position: sticky;
        top: 0;
        z-index: 999;

        background-blend-mode: lighten;
        div {
          background-color: transparent;
          margin:  2px 5px;
          button {
            background-color: #031e39;
            outline: none;
            border: none;
            color: inherit;
            height: 80%;
            width: auto;
            padding: 0px 20px;
            border-radius: 5px;
            font-weight: 600;
          }
        }
      }
      @extend %landingDiv;
      @extend %profile;
      @extend %experiences;
      @extend %abilities;
      @extend %projects;
      @extend %footer;
    }
  }
}



.experienceLeft{
  @media screen {
    @media (max-width: $breakpoint-tablet) {
      width:100%;
      height: 100%;
    }
    }
}
.experienceRight{
  @media screen {
    @media (max-width: $breakpoint-tablet) {
display:none;
height: 0px;		}
    }
}
.servicesRight{
  @media screen {
    @media (max-width: $breakpoint-tablet) {
      width:100%;
      height: 100%;
    }
    }
}
.servicesLeft{
  @media screen {
    @media (max-width: $breakpoint-tablet) {
display:none;
height: 0px;		}
    }
}

