@import 'LandingDiv.scss';
@import 'Profile.scss';
@import 'Experiences.scss';
@import 'Abilities.scss';
@import 'Projects.scss';
@import 'Footer.scss';

.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

// @import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300 ;
  line-height: 1.4;
  animation-name: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */

}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
body {
  margin: 0px;
  width: 100%;
    height: 100%;
  #app {
    width: 100%;
    height: 100%;
    ._container {
      // border-radius: 40px 40px 40px 40px;
      // height: 100%;
      // position: fixed;

      .sidebar {
        // display: flex;
        // flex-direction: row;
        min-height: 40px !important;
    // justify-content: flex-end;
        color: #f6f7e9;
        // background-color: #f6f7e9;
        // opacity: 0.4;
        position: sticky;
        top: 0;
        z-index: 999;

        background-blend-mode: lighten;
        div {
          background-color: transparent;
          margin:  2px 5px;
          button {
            background-color: #031e39;
            outline: none;
            border: none;
            color: inherit;
            height: 80%;
            width: auto;
            padding: 0px 20px;
            border-radius: 5px;
            font-weight: 600;
          }
        }
      }
      // position: fixed;
      // padding: 0px;
      // margin: 0px;
      // display: flex;
      // flex-direction: column;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      // background-color: #031e39;
      // background-image: url('https://res.cloudinary.com/hezzie/image/upload/v1600322845/oie_XGxfKSGKRnM7_qvcefo.jpg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      //background-attachment: fixed;
      background-blend-mode: overlay;
      scroll-behavior: smooth;
      @extend %landingDiv;
      @extend %profile;
      @extend %experiences;
      @extend %abilities;
      @extend %projects;
      @extend %footer;
    }
  }
}


