%experiences {
  .experiences {
    background-color: #e6d5ce;
    height: auto;
    min-height: 70%;
    width: 100%;
    text-align: center;
    .career {
      width: 70%;
      display: flex;
      flex-direction: row;
      margin: auto;
      justify-content: space-evenly;
    }
    .education {
      width: 70%;
      display: flex;
      flex-direction: row;
      margin: auto;
      justify-content: space-evenly;
    }
  }
}
