%experiences {
  .experiences {
    position: sticky;
    display: flex;
    flex-direction: row;
    background-size: 30% 70%;
    background-repeat: no-repeat;
    background-position: right center;
    padding: 2%;
    width: 96%;
    margin: auto;
    .experiencesContainer {
      border-radius: 5px;
      height: auto !important;
      overflow-y: auto;
      width: 100%;
      .experiencesHeader {
        color: #031e39;
        h1 {
          font-family: "Nosifer", cursive !important;
        }
      }
      .career {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
      .education {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
}
