%footer {
  .footer {
    color:#e9ead6;
    background-color: rgb(34, 34, 34);
    // height: 70%;
    width: 100%;
    .footerHeader {
      padding: 10px;
      width: 70%;
      margin: auto;
      border-bottom: 1px #e9ead6 solid;
      text-align: center;
      a{
        margin: 20px;
        
      }
    }
    .footerBody {
      display: flex;
      flex-wrap: wrap;
      width: 70%;
      margin: auto;
      border-bottom: 1px #e9ead6 solid;
      div{
        width: 30%;
      }
    }
    .footerFooter {
      width: 70%;
      margin: auto;
      border-bottom: 1px #e9ead6 solid;
    }
  }
}
