%footer {
  .footer {
    color:#e9ead6;
    background-color: #DEECF7;
    // background-image: url('https://res.cloudinary.com/hezzie/image/upload/v1600642810/imageedit_18_9683881518_jsavyg.png');
    background-size: 300px 300px;
    background-position: right;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    // transform: skewY(0.5deg);
  transform-origin: 100%;

  .footerHeader {
      width: 70%;
      margin: auto;
      border-bottom: 1px #e9ead6 solid;
    }
    .footerBody {
      display: flex;
      flex-wrap: wrap;
      width: 70%;
      margin: auto;
      border-bottom: 1px #e9ead6 solid;
      div{
        width: 30%;
      }
    }
    .footerFooter {
      width: 70%;
      margin: auto;
      border-bottom: 1px #e9ead6 solid;
    }
  }
}

