
%footer {
  .footer {
    color: #e9ead6;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
  .footerHeader {
    width: 70%;
    margin: auto;
    border-bottom: 1px #e9ead6 solid;
  }
  .footerBody {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    border-bottom: 1px #e9ead6 solid;
    div {
      width: 30%;
    }
  }
  .footerFooter {
    width: 70%;
    margin: auto;
    border-bottom: 1px #e9ead6 solid;
  }
}
