%landingDiv {
	.landingDiv {
	  margin: 0px; /* Move this declaration above nested rules */
	  padding: 0px;
	  width: 100%;
	  z-index: 1;
	  display: flex;
	  background-size: 13% 70%;
	  border-radius: 50% 0% 0% 0%;
	  opacity: 0.9;
	  background-repeat: no-repeat;
	  background-position: top center;
	  position: relative;
  
	  .welcome {
		display: flex;
		flex-direction: row;
		justify-content: space-between !important;
		
		@media screen and (max-width: 600px) {
		  flex-direction: column-reverse;
		}
  
		.right {
		  @media screen and (max-width: 600px) {
			display: none;
			height: 0px;
		  }
		}
  
		.left {
		  width: 50%;
		  position: relative;
		  display: flex;
  
		  @media screen and (max-width: 600px) {
			width: 100%;
			height: 100%;
		  }
  
		  span {
			margin: auto;
			height: min-content;
			text-align: center;
			max-width: 80%;
		  }
		}
	  }
	}
  }
  