%landingDiv {
 
  .landingDiv {
    .welcome{
      width: 100%;
display:flex;
flex-direction: row;
justify-content: space-between !important;
color:#fff
}
    margin: 0px;
    padding: 0px;
    // color: #f6f7e9;
    min-height: 100% !important;
    width: 100%;
    z-index: 1;
    display: flex;
    // background-color: purple;
    // background-image: url('https://res.cloudinary.com/hezzie/image/upload/v1583343349/Screen_Shot_2020-03-04_at_18.58.45_3_1_eqi6ia.png');
    background-size:13% 70%;
    border-radius: 50% 0% 0% 0%;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
  *,
*::before,
*::after {
	box-sizing: border-box;
}



@keyframes dot {
	0% {
		transform: scale(.75);
		opacity: .25;
	}
	25% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(.75);
		opacity: .25;
	}
}

@keyframes arrow {
	0% {
		transform: scale(.75) rotate(45deg);
		opacity: .25;
	}
	25% {
		transform: scale(1) rotate(45deg);
		opacity: 1;
	}
	100% {
		transform: scale(.75) rotate(45deg);
		opacity: .25;
	}
}
    .indicator{
      position:absolute;
      width:50px;
      height:50px;
      top:0%;
      left: 49%;
      transform:rotate(45deg);
      span{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        box-sizing:border-box;
        border:none;
        border-bottom:10px solid #fff;
        border-right:10px solid #fff;
        animation:animate 1s linear infinite;
        &:nth-child(1){
          top:-30px;
          left:-30px;
          animation-delay:0s;
        }
        &:nth-child(2){
          top:-15px;
          left:-15px;
          animation-delay:0.2s;
        }
        &:nth-child(3){
          top:0;
          left:0;
          animation-delay:0.4s;
        }
        &:nth-child(4){
          top:15px;
          left:15px;
          animation-delay:0.6s;
        }
        &:nth-child(5){
          top:30px;
          left:30px;
          animation-delay:0.8s;
        }
      }
    }
  }
  @keyframes animate{
    0%{
      border-color:#fff;
      transform:translate(0,0);
    }
     20%{
      border-color:#fff;
       transform:translate(15px,15px);
    }
     20.1%,100%{
      border-color:#ffd64a;
    }
  }
}



.scroll-indicator {
bottom:0;
// right:0;
// text-align: center;
  width: 80px;
  padding:20px;
	margin: 0 auto;
	position: absolute;
	opacity: .5;
	&::before,
	&::after {
		content: '';
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	&::before {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 10px solid #fff;
		animation: dot 3s infinite ease-in-out;
	}
	&::after {
		width: 18px;
		height: 18px;
		border-right: 5px solid #fff;
		border-bottom: 5px solid #fff;
		transform: rotate(45deg);
		animation: arrow 3s infinite ease-in-out;
		animation-delay: .75s;
		opacity: .25;
	}
	& > div {
		display: block;
		&::before,
		&::after {
			content: '';
			display: block;
			margin: 5px auto;
			border-radius: 50%;
			border: 6px solid #fff;
			animation: dot 3s infinite ease-in-out;
		}
		&::before {
			width: 25px;
			height: 25px;
			animation-delay: .25s;
		}
		&::after {
      border: 5px solid #fff;
			width: 17px;
			height: 17px;
			animation-delay: .5s;
		}
	}
}