.navbar_container {
  @apply fixed z-[1000];
  width: max-content;
  right: 100px;
  top: 10px;
}

.nav_link {
  @apply mx-1.5 no-underline font-medium;
  color: theme('colors.primary');
  transition: color 0.3s ease;

  &:hover {
    color: theme('colors.orange');
  }
}
