@tailwind base;
@tailwind components;
@tailwind utilities;
.carousel {
    display: flex;
    gap: 16px;
    overflow: hidden;
    scroll-behavior: smooth;
    }
    .project-card {
    flex-shrink: 0;
    }
    