/* @tailwind preflight; 

 @tailwind components; 

@tailwind utilities;  */

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.carousel {
display: flex;
gap: 16px;
overflow: hidden;
scroll-behavior: smooth;
}
.project-card {
flex-shrink: 0;
}


